.card {

    width: 270px;
    height: 350px;
    border-radius: 10px;
    position: relative;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;

}

.card-img {
    width: 200px;
    height: 150px;
}

.name {
    font-size: 20px;
    font-weight: 600;
}

.card p {
    font-weight: 500;
    margin-bottom: -10px;
}

.add-btn {
    position: absolute;
    bottom: 0;
    padding: 15px 70px;
    border: none;
    border-radius: 8px;
    color: rgb(31, 18, 18);
    font-size: 17px;
    background-color: rgba(248, 229, 203, 0.89);
    font-weight: 600;
}

.add-btn:hover {
    background-color: beige;
}

@media screen and (max-width:767px) {
    .card {
        width: 100vw;
        margin-bottom: 20px;


    }
}