.profile {
    background-color: rgb(255, 255, 255);
    height: 90vh;
    position: sticky;
    top: 0;
    padding: 25px 20px;
    border-radius: 10px;
}

.my-name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: -10px;
}

.location {
    color: rgba(0, 0, 0, 0.425);
}

.info {
    display: flex;
    justify-content: space-around;
    background-color: rgb(243, 227, 255);
    border-radius: 12px;
    margin-top: 30px;
}

.span {
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.644);
}

.info h2 {
    margin-bottom: -12px;
    font-size: 23px;
    color: rgba(0, 0, 0, 0.863);
}

.info h3 {
    font-size: 17px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.658);
}

.break-time {
    display: flex;
    justify-content: space-around;
    padding: 0px 4px;
    background-color: rgb(243, 227, 255);
    border-radius: 12px;
}

.break-time h4 {
    border: 1px solid black;
    padding: 8px;
    border-radius: 50%;
    border: none;
    background-color: aliceblue;
}

.add-break {
    color: rgba(0, 0, 0, 0.877);
}

.exercise-details {
    color: rgba(0, 0, 0, 0.829);
    margin-top: 50px;
}

.ex-time {
    padding: 6px 15px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    border: none;
    background-color: rgb(243, 227, 255);
    border-radius: 12px;
    margin-bottom: 20px;
}

.break-time-count {
    padding: 6px 15px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    border: none;
    background-color: rgb(243, 227, 255);
    border-radius: 12px;
}

.time {
    color: rgba(0, 0, 0, 0.637);
}

.ex {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.836);
    font-size: 17px;
}

.br {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.836);
    font-size: 17px;
}

.activity-btn {
    margin-top: 50px;
    padding: 20px 80px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgba(248, 229, 203, 0.89);
    color: rgba(0, 0, 0, 0.877);
}

.activity-btn:hover {
    background-color: beige;
}

@media screen and (max-width:767px) {
    .profile {
        margin-bottom: 120px;
    }
}