@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins&display=swap');

.App {

  /* display: grid;
  grid-template-columns: 3fr;
  gap: 40px; */
  background-color: whitesmoke;
  margin-bottom: 100px;

}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}